* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3c486b;
  --gray: #f0f0f0;
  --yellow: #f9d949;
  --red: #f45050;
}

body {
  background-color: whitesmoke;
}
h1 {
  color: Black;
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  /* padding-top: 2%; */
  background-color: whitesmoke;
  text-shadow: 5px 5px 5px black;
  font-family: 'Mountains of Christmas', serif;

}
h4 {
  color: orangered;
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  /* padding-top: 2%; */
  /* background-color: whitesmoke; */
  text-shadow: 3px 3px 3px yellow;
  font-family: 'Mountains of Christmas', serif;

}

header {
  background-color: whitesmoke;
  /* height: 30vh; */
}

.index{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;

}

.index a {
  text-decoration: none; 
}

.index div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 30vh;
  background-color: darkgray;
  margin: 50px;
  border-radius: 10px;  
  background-image: url('https://res.cloudinary.com/dapwniqqn/image/upload/v1709464944/1312/background/texture-1099399_1280_w7qsqu.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.2s ease;
}
.index div:hover {
  transform: translateY(-2px) translateX(2px); /* Moves the button 5px upwards and 5px to the right when hovered */
}


@media only screen and (max-width: 1024px) {
  .index {
    flex-direction: column;
    align-items: stretch; /* Ensures the items stretch to full width */
  }

  .index div {
    width: 60vw; 
  }
  .index p {
    font-size: 4em !important;

  }
}

@media only screen and (max-width: 640px) {
  .index {
    flex-direction: column;
    align-items: stretch; 
  }

  .index div {
    width: 60vw; 
    height:20vh;
  }
  .index p {
    font-size: 2em !important;

  }
}

.index p {
  margin: 0; 
  color: black; 
  font-size: 3vw;
}

.breeds{
  -webkit-box-shadow: 7px -5px 10px 0px rgb(73, 59, 59);
  /* 7px -5px 10px 0px #FF0000, 
  11px -9px 10px 0px #FF7F00, 
  16px -14px 10px 0px #FFFF00, 
  20px -17px 10px 0px #00FF00, 
  24px -19px 10px 0px #0000FF, 
  27px -23px 10px 0px #4B0082, 
  5px 5px 15px 5px black;  */
 box-shadow: 
 /* 7px -5px 10px 0px #FF0000, 
 11px -9px 10px 0px #FF7F00, 
 16px -14px 10px 0px #FFFF00, 
 20px -17px 10px 0px #00FF00, 
 24px -19px 10px 0px #0000FF, 
 27px -23px 10px 0px #4B0082, 
 5px 5px 15px 5px black;  */
}

.game {
  /* -webkit-box-shadow: 
    0px 0px 0px 8px #4B0000, 
    0px 0px 0px 16px #8C1C1C, 
    0px 0px 0px 24px #CC4444, 
    0px 0px 0px 31px #FF7F7F, 
    0px 0px 0px 39px #FFAAAA, 
    5px 5px 15px 5px rgba(0,0,0,0); 

  box-shadow: 
    0px 0px 0px 8px #4B0000, 
    0px 0px 0px 16px #8C1C1C, 
    0px 0px 0px 24px #CC4444, 
    0px 0px 0px 31px #FF7F7F, 
    0px 0px 0px 39px #FFAAAA, 
    5px 5px 15px 5px rgba(0,0,0,0); */
    -webkit-box-shadow: 7px -5px 10px 0px rgb(73, 59, 59);
  /* 7px -5px 10px 0px #FF0000, 
  11px -9px 10px 0px #FF7F00, 
  16px -14px 10px 0px #FFFF00, 
  20px -17px 10px 0px #00FF00, 
  24px -19px 10px 0px #0000FF, 
  27px -23px 10px 0px #4B0082, 
  5px 5px 15px 5px black;  */
 box-shadow: 7px -5px 10px 0px rgb(73, 59, 59);
 /* 7px -5px 10px 0px #FF0000, 
 11px -9px 10px 0px #FF7F00, 
 16px -14px 10px 0px #FFFF00, 
 20px -17px 10px 0px #00FF00, 
 24px -19px 10px 0px #0000FF, 
 27px -23px 10px 0px #4B0082, 
 5px 5px 15px 5px black;  */
}

.gFont{
  font-family: 'Honk', system-ui;
}

.images {
  /* display: flex; */
  /* flex-wrap: wrap; */
  width:50%;
  margin:auto;
  /* justify-content: space-evenly; */

}

.image {
  display: flex;
/* margin-left:5px; */
/* margin-right:5px; */
  /* flex-wrap: wrap; */

  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  /* margin: 2%; */
  z-index: 0;
  position: relative;
}

img {
  border-radius: 5%;
  /* border: 2px solid var(--red); */
  width: 30vw;
  height: 50vh;
  /* margin-top: -15%; */
}

.hidden {
  /* font-family: 'Mountains of Christmas', serif; */
  top: -55px;
  display: none;
}
.hidden h4{
  font-family: 'Honk', system-ui;
  font-size: 3em !important;
}

.image:hover .hidden {
  display: flex;
  position: absolute;
  font-family: 'Honk', system-ui; /* Add this line */
}

img.image:hover {
  border: 2px solid black;
}


main {

  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}
main > section {
  width: 33vw;
  border-radius: 20px;
  margin-top: 2%;
  
}
.middle {
  background-color: coral;
  /* height:auto; */
  /* height: 310px; */
  width:33vw;
  border-radius:30px ;
}

section p {
  text-align: center;
  /* padding-top: 10px; */
  font-size: 1em;
  padding-bottom: 3%;
}

input {
  margin: 2% auto;
  margin-left: 30%;
  /* -webkit-appearance: none; */
  width: 40%;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 10px;
}
input[type="text"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border: 3px solid var(--blue);
  text-align: center;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h3 {
  /* padding-top: 3%; */
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  /* font-weight: 900; */
  font-family: 'Mountains of Christmas', serif;

}

section p{
  font-family: 'Honk', system-ui;
  font-size: 1.8em;

}

#clicks {
  width: 80px;
  height: 80px;
  ;
  /* margin-left: 30vw; */
  border-radius: 20%;
  font-size: 3em;
  animation: wiggle 4s linear infinite;
  margin-top: 5vh;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-25deg);
  }
  20% {
    transform: rotateZ(20deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  30% {
    transform: rotateZ(16deg);
  }
  35% {
    transform: rotateZ(-14deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.fineTuning {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  width: 20vw;
  /* margin: auto; */
}
.fineTuning1:hover,
.image:hover{
  cursor: pointer;
}

.fineTuning1 {
  width: 3vw;
  height: 6vh;
  /* background-color: var(--red); */
  border-radius: 50%;
  font-size: 1.6em;
  margin-left: px;
  /* padding:0; */
}

.letters {
  position: relative;
  transition: opacity 1s;
  background-color: black;
  height:3px;

}

/* .letterA:hover {
  opacity: 0;
} */

.letterA::after {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

.letterA:hover::after {
  content: "1";
  opacity: 1;
}

.waviy {
  position: relative;
  text-align: center;
  margin: 30px 0px 40px 0px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 2.3em;
  color: coral;

  animation: flip 7s infinite;
  animation-delay: calc(0.3s * var(--i));
  font-family: 'Bungee Spice', sans-serif;
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}



.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 60%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-image:url('cats/wellDone1.jpg') ;
  background-repeat:no-repeat ;
  background-size: cover;
  border-radius: 50px;
  border: 2px solid var(--red);
  
}
.modal-content p{
  font-size: 4rem;
  text-align: center;
  background-color: whitesmoke;
  margin: 0 30%;
  border-radius: 20px;
  border: 2px solid var(--red);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--blue);
  border-radius: 20px;
  padding:1px 6px;
  margin: 10px;
  border:2px solid var(--red);
  color: var(--red);
}
@media (max-width: 481px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    
  }
  main >section {
    width:auto;
  }

  .middle{
    width:100%;
    /* height: 220px; */
    justify-content: center;
    margin-bottom: 20px;
  }
  .fine{
    display: flex;
    flex-direction: column;
  }
  .fineTuning{
    /* display: flex; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    width:auto;
    justify-content: center;
  }
  .fineTuning1{
    width:50px;
    height: 50px;
  }
  .percentage{
    justify-content: center;
  }
  section img{
    width:100%;
    height: 30%;
    border-radius: 10px;
  }

  .modal {
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    width:90%;
    height:60%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    height: 100%;
    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image:url('cats/wellDone2.jpg') ;
    background-repeat:no-repeat ;
    background-size: cover;
    border-radius: 50px;
    border: 2px solid var(--red);
    background-size: 100% 100%;
  
  }
  .modal-content p{
    font-size: 3rem;
    text-align: center;
    background-color: whitesmoke;
    margin: 70% 2%;
    border-radius: 20px;
    border: 2px solid var(--red);
  }

  .images {
    /* display: flex; */
    /* flex-wrap: wrap; */
    width:95%;
    margin:auto;
    /* justify-content: space-evenly; */
  
  }
  .modall{
    width: 95% !important;
    height: 65% !important;
    background-image: url("https://res.cloudinary.com/dapwniqqn/image/upload/v1708165902/1312/Black-cat-with-green-eyes-photo-_-Free-Cat-Image-on-Unsplash_xdfsih.png") !important;
  }
  .modall-content p{
    font-size: 2em !important;
    text-align: center ;
  }
  .modall-content{
    justify-content: start !important;
   

  }

}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; 
  background-color: black; 
}

nav a {
  margin: 0 15px; 
  text-decoration: none;
  color: #333; /* Set the link color */
  font-weight: bold; /* Optional: Add bold font weight */
  font-size: 2em;
  font-family: 'Bungee Spice', sans-serif;
}

nav a:hover {
  color: var(--red); /* Change color on hover */
}


.accordion {
  width: 40vw;
}

.accordion-button , .accordion-button:not(.collapsed){
  background-color: coral;
  color: black;
  font-family: 'Mountains of Christmas', serif;
  font-size: 1em;

}

.breedsAccordion{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

@media only screen and (max-width: 768px) {
  .breedsAccordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .accordion{
    width: 80vw;
    margin-bottom: 5vh;
  }
}

.catImg {
  width:30%;
}
.ten{
  padding: 0;
  margin-left: 2%;
}

.ten p{
  margin-bottom: 0;;
  
  font-family: 'Honk', system-ui;
  font-size: 3.3em;
  /* line-height: 2; */
  cursor:pointer;

}


@keyframes pulsing {
  0%, 100% {
    background-color: antiquewhite;
    transform: scale(1);
  }
  25% {
    background-color: coral;
    transform: scale(1.2);
  }
  50% {
    background-color: whitesmoke;
    transform: scale(1);
  }
  75% {
    background-color: coral;
    transform: scale(1.2);
  }
}

/* Apply the pulsing animation to the input when it is focused for the first 10 seconds */
input:focus {
  animation: pulsing 10s;
  outline: none; /* Optional: Remove the default focus outline */
}


.percentage{
  display: flex;
  /* justify-content: center; */
  
}

strong{
  font-family: 'Mountains of Christmas', serif;
  font-weight:bolder;
  font-size: 1.5em;
}
p{
  font-family: 'Oswald', sans-serif;

}

.input {
  font-family: 'Honk', system-ui;
}



.modall {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 70vh;
  width: 70vw;
  background-image: url("https://res.cloudinary.com/dapwniqqn/image/upload/v1708164174/1312/eyes-4789730_1280_ecvxbp.jpg");
  background-position: center; /* Center the background image */
  background-size: cover; /* Make the background image cover the entire background */
  border-radius: 50px;
}


.modall-content {
  position: relative; /* Make the content container relative */
  /* background-color: darkgray; */
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 100%;
  height: 100%; /* Adjusted to ensure modal fits within the viewport */
  overflow-y: auto; /* Add scrollbar if content exceeds max height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.modall p{
  font-size:4.5em;
  color:var(--yellow);
  font-family: 'Honk', system-ui;
}

.close {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.red{
  background-color: var(--red);
  width: 120px;
  height: 70px;
  font-size: xx-large;
  border-radius:10px ;
  font-family: 'Honk', system-ui;
}
.green{
  background-color:chartreuse;
  width: 170px;
  height: 70px;
  font-size: xx-large;
  border-radius:10px ;
  font-family: 'Honk', system-ui;
}
.buttons{
  margin-top: 20px;
}
.pointer:hover {
  cursor:pointer;
}

.backgroundIndex{
      background-image: url('https://res.cloudinary.com/dapwniqqn/image/upload/v1709464953/1312/background/brian-wangenheim-ULDjeyeQL08-unsplash_vde8uj.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.backgroundBreeds{
      background-image: url('https://res.cloudinary.com/dapwniqqn/image/upload/v1709464944/1312/background/wood-2045379_1280_o2uhfs.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.backgroundGame{
      background-image: url('https://res.cloudinary.com/dapwniqqn/image/upload/v1709464944/1312/background/floor-1866663_1280_ktr94s.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

.accordion-item{
  /* background-color: saddlebrown; */
  border: 1px solid saddlebrown;
}

span.cat{
  text-shadow: none;
}
.accordion-button:focus{
outline:4px solid brown !important;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
  filter: hue-rotate(0deg) saturate(1%); /* Adjust values to achieve brown color */
}




#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  cursor: pointer;
}
